---
const {blog, username, date} = Astro.props;
---

<h2>{`Url or how...${blog} do i add the username ${username} and date`}</h2>

<style>
    a {
        padding: 0.5rem 1rem;
        color: white;
        background-color: #1d6995;
        text-decoration: none;
    }
</style>
